<!DOCTYPE html>
<html class="fscroll">

<head>
    <meta charset="utf-8">
    <title>Hiring @Impetus</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="assets/font-awesome.min.css">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <link rel="stylesheet" href="assets/main.css">
</head>

<body class="life hiring">
    <!-- Header -->
    <div class="navigation">
        <div class="container">
            <div class="row">
                <div class="five columns flex">
                    <a href="index.html"><img class="logo" src="logo.svg" /></a>
                    <div class="burger">
                        <div class="line line1"></div>
                        <div class="line line2"></div>
                        <div class="line line3"></div>
                    </div>
                </div>
                <div class="seven columns menu">
                    <ul class="flex">
                        <li><a href="https://impetus.cluster3.openings.co/#!/">Jobs</a></li>
                        <li><a href="life_impetus.html">Life@Impetus</a></li>
                        <li><a href="hiring.html">Hiring Process</a></li>
                        <li><a href="https://www.impetus.com/company">About Impetus</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /*#####################*/ -->
    <!-- Section One -->
    <section class="ichi">
        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="matra">
                        <div>
                            <div class="heroimg"></div>
                            <h2>Our Philosophy</h2>
                            <p>We understand hiring is a mutual fitment process that evaluates synergies beyond knowledge and skills. A shared vision of the future, things that drive you and us, culture, and values are equally important. We know, for you to make a career decision to come and stay with us for many precious years, you need to know us beyond the job description and what’s on our website. We want you to do full justice to your aspirations of growth and learning. We want to empower you with all the information to help you make the best decision. Likewise, your prospective team members want to make the best decision in choosing people they will be spending months and years together in making a big difference.</p><br />
                            <p>Please take this opportunity to discover once again what you want to spend your precious time on, as well as getting to know a few great performers from Impetus and see for yourself if you would like to work with them.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /*#####################*/ -->
    <!-- Section Two -->
    <section class="ni">
        <div class="container">
            <h2>Our Values</h2>
            <div class="row">
                <div class="one-half column">
                    <div class="dusra">
                        <img src="assets/img/hiring/process.jpg" />
                    </div>
                </div>
                <div class="one-half column">
                    <div class="pehla">
                        <div>
                            <p>We have carefully designed our hiring process to meet the philosophy. It is a series of conversations that provides both us and you with an opportunity to know each other well and make an informed decision.</p>
                            <p>Our career partners walk you through the current opportunity, learning and growth prospects, our culture, what differentiates us, and what is in it for you. This follows conversations with your potential colleagues and mentors, that focus on the evaluation of knowledge, skills, expertise, approach, and learnability. During these conversations, we spend time in sharing details about the content of the work, the technology we work on, the kind of innovation we do, and the value we create for our customers, all with an intention to help you see if it is equally exciting for you. The process concludes with a decision on mutual fit and the offer.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /*#####################*/ -->
    <!-- Section Three -->
    <section class="san">
        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="matra">
                        <h2>Helping You Know Us Even Better</h2>
                        <p>With an intent to help you know us even better, we organize engagement connects with different stakeholders where you further get a deeper insight into work, learning, and growth opportunities. We organize a "Parichay" session for you which is a walkthrough of our journey as a company and the vision ahead. It gives you an opportunity to connect with and interact with your leaders, colleagues, mentors before joining us.</p><br />
                        <p>We also connect each one of you with an onboarding partner to be continuously engaged with you ,answer your questions and queries and facilitate smooth onboarding.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /*#####################*/ -->
    <!-- Section Four -->
    <section class="shi">
        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="matra">
                        <h2>It’s all digital yet engaging</h2>
                        <p>The current situation has taken away the luxury of being together physically, but we leverage technology to do all of this digitally and share the warmth and excitement of welcoming you to the family.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /*#####################*/ -->
    <!-- Section Five -->
    <section class="go">
        <div class="container">
            <div class="row matra">
                <div class="column">
                    <div class="box">
                        <div>
                            <h2>Join us to cause a world of transformation</h2>
                            <p>A lot of bright minds and thought leaders are waiting to partner with you on the journey of creating great value for customers through transformational products, services, and solutions.</p>
                            <a href="https://impetus.cluster3.openings.co/#!/">Explore Jobs
                                <img src="assets/svg/linkar.svg"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /*#####################*/ -->
    <footer class="fullwidth footerbg">
        <div class="container">
            <div class="flogo wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                <a href="index.html"><img src="flogo.png" alt="Careers at Impetus"></a>
            </div>
            <div class="frightsec">
                <div class="footermenu wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                    <ul>
                        <li><a href="https://impetus.cluster3.openings.co/#!/" ng-click="redirectHome()">Jobs</a></li>
                        <li><a href="life_impetus.html">Life@Impetus</a></li>
                        <li><a href="hiring.html">Hiring Process</a></li>
                        <li><a href="https://www.impetus.com/company">About Impetus</a></li>
                    </ul>
                </div>
                <!-- <div class="subscribesec wow fadeInLeft">
                <div class="substitle">Subscribe for Job Alerts</div>
                <div class="subscribs"><input type="text" value="" placeholder="Enter Email Id" /><button class="subsbtn">Subscribe</button></div>
            </div> -->
                <p>Email us on <a href="mailto:careers@impetus.com">careers@impetus.com</a></p>
            </div>
            <div class="socials">
                <ul>
                    <li><a target="_blank" href="https://www.linkedin.com/company/impetus/"><i class="fa fa-linkedin"></i></a></li>
                    <li><a target="_blank" href="https://www.youtube.com/channel/UCeguVkeNZnT3DAq7R1l7Npw"><i class="fa fa-youtube-play"></i></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/impetustechnologies/?hl=en"><i class="fa fa-instagram"></i></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/Impetus-106380269402504/?ref=bookmarks"><i class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/impetustech"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
            <!-- <div class="sign-up-for-new">
            <a ng-click="talentCommunityPopup('E')"  class="home-btn btn btn-theme thmJobalertsBtn cust-home-mobvw signup-align-popup" ng-class="{'signup-align-popup-For-Logo':configurationExternalSystem.companyLogoName}" ng-if="enableTalentCommunity == 'yes'" href="" data-target="#signUpForJobAlertsId" data-toggle="modal" data-toggle="tooltip" title="Sign Up for Job Alerts"><i class="fa fa-group custom-user-icon"></i><span class="thmJobalertsBtnTxt">Sign Up for Job Alerts</span></a>
        </div> -->
            <div class="fullwidth copyright">
                <span>© 2021 Impetus Technologies, Inc. All Rights Reserved.</span>
                <span><a href="https://www.impetus.com/content/impetus-legal">Legal</a> | <a href="https://www.impetus.com/sitemap">Sitemap</a></span>
            </div>
        </div>
    </footer>
    <script src="assets/js/life.min.js"></script>
</body>

</html>