<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Careers | Impetus</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/font-awesome.min.css">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.11/dist/css/splide.min.css">
    <link rel="stylesheet" href="assets/main.css">
    <link rel="icon" type="image/png" href="favicon.png">
</head>

<body class="index" style="overflow-x: hidden;">
    <!-- Header -->
    <div class="navigation">
        <div class="container">
            <div class="row">
                <div class="five columns flex">
                    <a href="index.html"><img class="logo" src="logo.svg" /></a>
                    <div class="burger">
                        <div class="line line1"></div>
                        <div class="line line2"></div>
                        <div class="line line3"></div>
                    </div>
                </div>
                <div class="seven columns menu">
                    <ul class="flex">
                        <li><a href="https://impetus.cluster3.openings.co/#!/">Jobs</a></li>
                        <li><a href="life_impetus.html">Life@Impetus</a></li>
                        <li><a href="hiring.html">Hiring Process</a></li>
                        <li><a href="https://www.impetus.com/company">About Impetus</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /*#####################*/ -->
    <!-- Section One -->
    <section class="ek">
        <div class="container">
            <div class="row">
                <div class="one-half column">
                    <div class="midheight">
                        <div class="headins">
                            <div class="splide__track">
                                <ul class="splide__list">
                                    <li class="splide__slide">Accelerate</li>
                                    <li class="splide__slide">Empower</li>
                                    <li class="splide__slide">Challenge</li>
                                </ul>
                            </div>
                        </div>
                        <!--  <h2>
                            <span class="moving">
                                <ul>
                                    <li>Accelerate</li>
                                    <li>Empower</li>
                                    <li>Challenge</li>
                                </ul>
                            </span>
                        </h2> -->
                        <h2><span class="yourself">Yourself</span></h2>
                        <a href="https://impetus.cluster3.openings.co/#!/">Explore Jobs
                            <img src="assets/svg/linkar.svg"></a>
                    </div>
                </div>
                <div class="one-half column">
                    <div class="midheight">
                        <img src="assets/img/index/one.png">
                    </div>
                </div>
                <span class="godown"><img src="assets/svg/down.svg"></span>
            </div>
        </div>
    </section>
    <!-- /*#####################*/ -->
    <!-- Section Two -->
    <div class="do centered">
        <div class="container">
            <div class="row">
                <div class="column">
                    <img class="icons" src="assets/img/index/two.png" />
                    <div>
                        <h2>Come together to <span>make an impact</span></h2>
                        <!-- <p>Innovate at the edge with core technology that creates a profound Impact</p> -->
                        <a href="#do" id="vhref">Learn what we do <img src="assets/svg/linkar.svg" /></a>
                    </div>
                </div>
            </div>
            <div class="thumbnail">
                <video onplay="playing()" onpause="pauset()" class="lazy" id="sectwovid" width="100%" controls
                    controlsList="nodownload">
                    <source data-src="assets/vid/2.mp4" type="video/mp4">
                    Your browser does not support HTML video.
                </video>
                <img class="dots" src="assets/svg/dots.svg" />
            </div>
        </div>
    </div>
    <!-- /*#####################*/ -->
    <!-- Section Three -->
    <div id="teen" class="teen">
        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="heading">
                        <img src="assets/svg/mym.png">
                    </div>
                </div>
            </div>
            <div class="row habibi">
                <div class="four pehla columns tfif">
                    <img class="actor" src="assets/img/index/1.png" />
                    <div class="box pehla">
                        <h2>Sameer</h2>
                        <p>Sameer leads a talented team of architects and product engineers.</p>
                        <a class="sameerlink">Read More <img src="assets/svg/wlinkar.svg"></a>
                    </div>
                    <div class="model pehla" id="mpehla">
                        <div class="container">
                            <div class="row">
                                <div class="image columns four">
                                    <img src="assets/img/index/1.png" />
                                </div>
                                <div class="text columns eight">
                                    <a class="modal-close"><img src="assets/svg/close.svg" alt=""></a>
                                    <p>Sameer leads a talented team of architects and product engineers at Impetus. He
                                        has deep expertise in cloud computing, data democratization, and data
                                        engineering</p>
                                    <p>Sameer is responsible for enabling real-time analytics, high availability, and
                                        enterprise-grade stability for customers across the globe.</p>
                                    <p>He loves travelling, going for long drives, and spending time with his family.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="four dusra columns tfif">
                    <img class="actor" src="assets/img/index/2.png" />
                    <div class="box dusra">
                        <h2>Chetan</h2>
                        <p>Chetan heads the global Cloud Engineering practice at Impetus.</p>
                        <a class="chetanlink">Read More <img src="assets/svg/wlinkar.svg"></a>
                    </div>
                    <div class="model dusra" id="mdusra">
                        <div class="container">
                            <div class="row">
                                <div class="image columns four">
                                    <img src="assets/img/index/2.png" />
                                </div>
                                <div class="text columns eight">
                                    <a class="modal-close"><img src="assets/svg/close.svg" alt=""></a>
                                    <p>Chetan heads the global Cloud Engineering practice at Impetus.</p>
                                    <p>Chetan enjoys the challenges of building new-age, scalable and elastic systems on
                                        the cloud. He is an expert in all aspects of product engineering and
                                        architecture.</p>
                                    <p>Outside of work, Chetan loves cycling, working out at the gym, and cooking.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="four teesra columns tfif">
                    <img class="actor" src="assets/img/index/3.png" />
                    <div class="box teesra">
                        <h2>Rajani</h2>
                        <p>Rajani leads the data engineering practice.</p>
                        <a class="rajanilink">Read More <img src="assets/svg/wlinkar.svg"></a>
                    </div>
                    <div class="model teesra" id="mteesra">
                        <div class="container">
                            <div class="row">
                                <div class="image columns four">
                                    <img src="assets/img/index/3.png" />
                                </div>
                                <div class="text columns eight">
                                    <a class="modal-close"><img src="assets/svg/close.svg" alt=""></a>
                                    <p>Rajani leads the Data Engineering practice.</p>
                                    <p>She has extensive experience in building modern data lakes, batch and real-time
                                        stream processing, and data analytics and predictive modeling.</p>
                                    <p>A Certified SAFe Program Consultant and Agile coach, Rajani is adept in building
                                        and mentoring large data engineering teams.</p>
                                    <p>She is a trained classical dancer who loves to perform on stage.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /*#####################*/ -->
    <!-- Section Four -->
    <section class="char u-full-width">
        <h2>Let's grow together</h2>
        <svg>
            <defs>
                <clipPath id="clipPath">
                    <circle class="ellipse" cx="50%" cy="50%" r="12%" />
                </clipPath>
            </defs>
        </svg>
        <div class="overlay">
            <div class="box">
                <h3>We grow together</h3>
                <p>Impetus is an open and inspiring workplace where you can be yourself and achieve your best.</p>
                <a href="life_impetus.html">Life @Impetus<img src="assets/svg/linkar.svg" /></a>
            </div>
            <div class="image"><img src="assets/img/index/four.png"></div>
        </div>
    </section>
    <!-- Section Five -->
    <div class="panch">
        <div class="container">
            <div class=" mainframe">
                <div class="four columns pehla">
                    <div class="mvcontainer">
                        <div class="mobile"></div>
                        <video class="lazy" preload="none" id="mvideo" width="265" controls=""
                            poster="assets/img/index/placeholder.png">
                            <source data-src="assets/vid/testimonial.mp4" type="video/mp4">
                        </video>
                        <img src="assets/img/employees/1.jpg" class="m3" />
                        <img src="assets/img/employees/2.jpg" class="m4" />
                    </div>
                </div>
                <div class="eight columns dusra">
                    <img class="m1" src="assets/svg/bub5.svg" />
                    <img class="m2" src="assets/img/employees/6.jpg" />
                    <img class="m3" src="assets/img/employees/3.jpg" />
                    <img class="m4" src="assets/img/employees/5.jpg" />
                    <div class="box">
                        <h2>
                            Join a team that <span>empowers you</span>
                        </h2>
                        <a href="hiring.html">Explore our hiring process<img src="assets/svg/linkar.svg" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /*#####################*/ -->
    <!-- Section Six -->
    <section class="che">
        <div class="container">
            <div class="row">
                <div class="column">
                    <h2>What inspires our people</h2>
                    <div class="slideshow">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide slide">
                                    <img src="assets/img/employees/6.jpg">
                                    <div class="thebox">
                                        <p class="blockquote">
                                            “It's been 3 years since I have been a part of Impetus’ phenomenal family
                                            and culture.<br /><br />
                                            The professionalism, ethics, expertise and exposure I witness here, has
                                            augmented my personality in all possible ways.”
                                        </p>
                                        <p class="author">– Antim</p>
                                        <p class="designation">Software Engineer</p>
                                    </div>
                                </li>
                                <li class="splide__slide slide">
                                    <img src="assets/img/employees/1.jpg">
                                    <div class="thebox">
                                        <p class="blockquote">
                                            “My journey with Impetus which started 7 years ago has truly been enriching
                                            and gratifying.<br /><br />
                                            What amazes me even today is the level of focus on employees’ welfare and
                                            growth. People here are also truly committed and dedicated towards the
                                            organization.”
                                        </p>
                                        <p class="author">– Rashmeet</p>
                                        <p class="designation">Associate Technical Architect</p>
                                    </div>
                                </li>
                                <li class="splide__slide slide">
                                    <img src="assets/img/employees/2.jpg">
                                    <div class="thebox">
                                        <p class="blockquote">
                                            “In the past 2 years, I’ve learned several new technologies and got ample
                                            opportunities.<br /><br />
                                            Every interaction I have with people here is positive, upbeat and
                                            supportive. The growth opportunities fits perfectly with my professional
                                            ambitions.”
                                        </p>
                                        <p class="author">– Tara</p>
                                        <p class="designation">Software Engineer</p>
                                    </div>
                                </li>
                                <li class="splide__slide slide">
                                    <img src="assets/img/employees/8.jpg">
                                    <div class="thebox">
                                        <p class="blockquote">
                                            “Learning, opportunities and growth - best describe my journey at Impetus.
                                            <br /><br />
                                            Over these 14 years, each day I have stepped in to work with a firm resolve
                                            to deliver better and live up to the high standards.”
                                        </p>
                                        <p class="author">– Anirudh</p>
                                        <p class="designation">Senior Technical Architect</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="che-dots"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- /*#####################*/ -->
    <!-- Section Seven -->
    <section class="saat">
        <div class="container">
            <div class="row">
                <div class="column" >
                    <div>
                        <h2>A Journey of continuous learning</h2>
                    
                    </div>
                    <div class="journeyS" id="images">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide ">


                                    <div class="slide">
                                        <div class="slidenbar">
                                            <img class="bar" src="assets/svg/bar1.png" />
                                            <img class="pic" src="assets/img/index/journey/pic1.png" />
                                        </div>
                                        <div class="box">
                                            <div class="number">1 of 4</div>
                                            <div class="heading">Accelerate</div>
                                            <p>
                                                Our 15-week technology intensive program for new employees helps you
                                                immediately hone your skills with Impetus technologies and
                                                platforms—regardless of your experience level
                                            </p>
                                            <p>
                                                — Upskill on JAVA, Cloud, QA, UI, UX & DevOps<br>
                                                — Get coaching from mentors
                                            </p>
                                        </div>
                                    </div>


                                </li>
                                <li class="splide__slide slide">

                                    <div class="slide">
                                        <div class="slidenbar">
                                            <img class="bar" src="assets/svg/bar2.png" />
                                            <img class="pic" src="assets/img/index/journey/pic2.png" />
                                        </div>
                                        <div class="box">
                                            <div class="number">2 of 4</div>
                                            <div class="heading">Engineering Development</div>
                                            <p>
                                                This program gives you the opportunity to collaborate with other
                                                engineers solving problems in live simulation exercises
                                            </p>
                                            <p>
                                                — Receive constructive feedback <br>
                                                — Get recognition from senior management
                                            </p>
                                        </div>
                                    </div>


                                </li>
                                <li class="splide__slide slide">
                                    <div class="slide">
                                        <div class="slidenbar">
                                            <img class="bar" src="assets/svg/bar3.png" />
                                            <img class="pic" src="assets/img/index/journey/pic3.png" />
                                        </div>
                                        <div class="box">
                                            <div class="number">3 of 4</div>
                                            <div class="heading">Raise the Bar</div>
                                            <p>
                                                This initiative connects you with self-study platforms to choose which
                                                new
                                                business-relevant skills you’ll learn each year. 
                                            </p>
                                            <p>Opportunities include:<br>
                                                — Online & classroom training<br>
                                                — Simulations<br>
                                                — Self-study posts
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="splide__slide slide">
                                    <div class="slide">
                                        <div class="slidenbar">
                                            <img class="bar" src="assets/svg/bar4.png" />
                                            <img class="pic" src="assets/img/index/journey/pic4.png" />
                                        </div>
                                        <div class="box">
                                            <div class="number">4 of 4</div>
                                            <div class="heading">Leadership Development</div>
                                            <p>
                                                We offer a variety of programs to help you develop the skills and
                                                experience
                                                to become a future leader
                                            </p>
                                            <p>
                                                — Mentorship from experienced leaders<br>
                                                — SHEroes program for future female leaders
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /*#####################*/ -->
    <!-- Footer -->
    <footer class="fullwidth footerbg">
        <div class="container">
            <div class="flogo wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                <a href="index.html"><img src="flogo.png" alt="Careers at Impetus"></a>
            </div>
            <div class="frightsec">
                <div class="footermenu wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                    <ul>
                        <li><a href="https://impetus.cluster3.openings.co/#!/" ng-click="redirectHome()">Jobs</a></li>
                        <li><a href="life_impetus.html">Life@Impetus</a></li>
                        <li><a href="hiring.html">Hiring Process</a></li>
                        <li><a href="https://www.impetus.com/company">About Impetus</a></li>
                    </ul>
                </div>
                <!-- <div class="subscribesec wow fadeInLeft">
                <div class="substitle">Subscribe for Job Alerts</div>
                <div class="subscribs"><input type="text" value="" placeholder="Enter Email Id" /><button class="subsbtn">Subscribe</button></div>
            </div> -->
                <p>Email us on <a href="mailto:careers@impetus.com">careers@impetus.com</a></p>
            </div>
            <div class="socials">
                <ul>
                    <li><a target="_blank" href="https://www.linkedin.com/company/impetus/"><i
                                class="fa fa-linkedin"></i></a></li>
                    <li><a target="_blank" href="https://www.youtube.com/channel/UCeguVkeNZnT3DAq7R1l7Npw"><i
                                class="fa fa-youtube-play"></i></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/impetustechnologies/?hl=en"><i
                                class="fa fa-instagram"></i></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/Impetus-106380269402504/?ref=bookmarks"><i
                                class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/impetustech"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
            <!-- <div class="sign-up-for-new">
            <a ng-click="talentCommunityPopup('E')"  class="home-btn btn btn-theme thmJobalertsBtn cust-home-mobvw signup-align-popup" ng-class="{'signup-align-popup-For-Logo':configurationExternalSystem.companyLogoName}" ng-if="enableTalentCommunity == 'yes'" href="" data-target="#signUpForJobAlertsId" data-toggle="modal" data-toggle="tooltip" title="Sign Up for Job Alerts"><i class="fa fa-group custom-user-icon"></i><span class="thmJobalertsBtnTxt">Sign Up for Job Alerts</span></a>
        </div> -->
            <div class="fullwidth copyright">
                <span>© 2021 Impetus Technologies, Inc. All Rights Reserved.</span>
                <span><a href="https://www.impetus.com/content/impetus-legal">Legal</a> | <a
                        href="https://www.impetus.com/sitemap">Sitemap</a></span>
            </div>
        </div>
    </footer>
    <!-- /*#####################*/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollToPlugin.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.11/dist/js/splide.min.js"></script>
    <script type="text/javascript" src="assets/js/app.min.js"></script>
</body>

</html>