<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Life @Impetus</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="assets/font-awesome.min.css">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.11/dist/css/splide.min.css">
    <link rel="stylesheet" href="assets/main.css">
</head>

<body class="life">
    <!-- Navigation -->
    <div class="navigation">
        <div class="container">
            <div class="row">
                <div class="five columns flex">
                    <a href="index.html"><img class="logo" src="logo.svg" /></a>
                    <div class="burger">
                        <div class="line line1"></div>
                        <div class="line line2"></div>
                        <div class="line line3"></div>
                    </div>
                </div>
                <div class="seven columns menu">
                    <ul class="flex">
                        <li><a href="https://impetus.cluster3.openings.co/#!/">Jobs</a></li>
                        <li><a href="life_impetus.html">Life@Impetus</a></li>
                        <li><a href="hiring.html">Hiring Process</a></li>
                        <li><a href="https://www.impetus.com/company#">About Impetus</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /*#####################*/ -->
    <!-- Section One -->
    <section class="uno">
        <div class="container">
            <div class="row">
                <div class="one-half column pehla">
                    <div>
                        <h2>Our Values</h2>
                        <img src="assets/img/life/values.jpg" />
                    </div>
                </div>
                <div class="one-half column dusra">
                    <img src="assets/svg/rise.svg" />
                </div>
            </div>
        </div>
    </section>
    <!-- /*#####################*/ -->
    <!-- Section One -->
    <section class="dos">
        <div class="container">
            <div class="row">
                <div class="column">
                    <h2>Awards & Recognition</h2>
                </div>
            </div>
            <div class="row wrap">
                <div class="four columns">
                    <div class="box">
                        <p>India’s 100 Best Companies to Work, 2021</p>
                        <span class="headline">— Great Place to Work Institute™</span>
                        <span class="year">2021</span>
                    </div>
                </div>
                <div class="four columns">
                    <div class="box">
                        <p>A ‘Dream Employer of the Year’ for the 7th consecutive year in 2021</p>
                        <span class="headline">— World HRD Congress</span>
                        <span class="year">2021</span>
                    </div>
                </div>
                <div class="four columns">
                    <div class="box">
                        <p>Best Companies for Women in India 2020</p>
                        <span class="headline">— Working Mother & Avtar</span>
                        <span class="year">2020</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /*#####################*/ -->
    <!-- Section One -->
    <section class="tres">
        <div class="container">
            <div class="row">
                <div class="one-half column">
                    <div class="pehla">
                        <h2>Our Culture</h2>
                        <p>Impetus’ unique, high-performance work culture is deeply rooted in global best practices and a people first approach.</p><br />
                        <p>We are an open, honest, inspiring workplace, where you can be yourself and continue to exude brilliance.</p>
                    </div>
                </div>
                <div class="one-half column">
                    <div class="dusra">
                        <img src="assets/img/hiring/culture.png" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /*#####################*/ -->
    <!-- Section One -->
    <section class="cuatro">
        <div class="container">
            <div class="row pehla">
                <div class="column">
                    <h2>We Care</h2>
                    <p>We strongly believe in giving back to the community.</p>
                    <p>As a socially responsible organization, we empower you to work towards causes you’re passionate about and make a meaningful impact in people’s lives.
                    </p>
                </div>
            </div>
            <div class="row dusra">
                <div class="column">
                    <div class="glider">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide"><img src="assets/img/life/slider1.jpg" /></li>
                                <li class="splide__slide"><img src="assets/img/life/slider2.jpg" /></li>
                                <li class="splide__slide"><img src="assets/img/life/slider3.jpg" /></li>
                                <li class="splide__slide"><img src="assets/img/life/slider4.jpg" /></li>
                                <li class="splide__slide"><img src="assets/img/life/slider5.jpg" /></li>
                                <li class="splide__slide"><img src="assets/img/life/slider6.jpg" /></li>
                            </ul>
                        </div>
                        <div class="splide__progress">
                            <div class="splide__progress__bar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /*#####################*/ -->
    <footer class="fullwidth footerbg">
        <div class="container">
            <div class="flogo wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                <a href="index.html"><img src="flogo.png" alt="Careers at Impetus"></a>
            </div>
            <div class="frightsec">
                <div class="footermenu wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                    <ul>
                        <li><a href="https://impetus.cluster3.openings.co/#!/" ng-click="redirectHome()">Jobs</a></li>
                        <li><a href="life_impetus.html">Life@Impetus</a></li>
                        <li><a href="hiring.html">Hiring Process</a></li>
                        <li><a href="https://www.impetus.com/company">About Impetus</a></li>
                    </ul>
                </div>
                <!-- <div class="subscribesec wow fadeInLeft">
                <div class="substitle">Subscribe for Job Alerts</div>
                <div class="subscribs"><input type="text" value="" placeholder="Enter Email Id" /><button class="subsbtn">Subscribe</button></div>
            </div> -->
                <p>Email us on <a href="mailto:careers@impetus.com">careers@impetus.com</a></p>
            </div>
            <div class="socials">
                <ul>
                    <li><a target="_blank" href="https://www.linkedin.com/company/impetus/"><i class="fa fa-linkedin"></i></a></li>
                    <li><a target="_blank" href="https://www.youtube.com/channel/UCeguVkeNZnT3DAq7R1l7Npw"><i class="fa fa-youtube-play"></i></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/impetustechnologies/?hl=en"><i class="fa fa-instagram"></i></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/Impetus-106380269402504/?ref=bookmarks"><i class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" href="https://twitter.com/impetustech"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
            <!-- <div class="sign-up-for-new">
            <a ng-click="talentCommunityPopup('E')"  class="home-btn btn btn-theme thmJobalertsBtn cust-home-mobvw signup-align-popup" ng-class="{'signup-align-popup-For-Logo':configurationExternalSystem.companyLogoName}" ng-if="enableTalentCommunity == 'yes'" href="" data-target="#signUpForJobAlertsId" data-toggle="modal" data-toggle="tooltip" title="Sign Up for Job Alerts"><i class="fa fa-group custom-user-icon"></i><span class="thmJobalertsBtnTxt">Sign Up for Job Alerts</span></a>
        </div> -->
            <div class="fullwidth copyright">
                <span>© 2021 Impetus Technologies, Inc. All Rights Reserved.</span>
                <span><a href="https://www.impetus.com/content/impetus-legal">Legal</a> | <a href="https://www.impetus.com/sitemap">Sitemap</a></span>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.11/dist/js/splide.min.js"></script>
    <script src="assets/js/life.min.js"></script>
</body>

</html>